# Maisha Interview data cleanup
#### Create a dictionary of names to be cleaned and apply that dictionary to GoogleDoc
Data Sources: https://docs.google.com/spreadsheets/d/1O8a5VWuEpYnZkbjcUmSzYP7uFd0-wz5YUYM_5wyxqU8/edit#gid=766160758

Install/Load Packages numpy pandas fuzzywuzzy gspread Levenshtein

In [1]:
pip install fuzzywuzzy; pip install gspread; pip install Levenshtein

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.11/site-packages (0.18.0)
Requirement already satisfied: gspread in /usr/local/lib/python3.11/site-packages (5.7.2)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.11/site-packages (from gspread) (2.16.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.11/site-packages (from gspread) (1.0.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2022.12.7)
Requirement already satisfied: Levenshtein in /usr/local/lib/python3.11/site-packages (0.20.9)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in /usr/local/lib/python3.11/site-packages (from Levenshtein) (2.13.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd; import numpy as np; import gspread; from Levenshtein import distance; from fuzzywuzzy import process

loading data to dataframes

In [4]:
sa = gspread.service_account(filename="maisha-379020-7d2a661c2d10.json")

In [5]:
examdata = sa.open("Copy of Director of Data Challenge")

In [6]:
input1 = examdata.worksheet("result")

In [7]:
input2 = examdata.worksheet("Sheet1")

In [16]:
ref_indiadrug = examdata.worksheet("webRaw")

In [9]:
ref_EAdrug = examdata.worksheet("webRaw2")

In [10]:
rawinput1 = pd.DataFrame(input1.get_all_records()); rawinput2 = pd.DataFrame(input2.get_all_records());

In [18]:
refEA = pd.DataFrame(ref_EAdrug.get_all_records()); refIndia = pd.DataFrame(ref_indiadrug.get_all_records())

find get top brands

In [36]:
topbrand_df = rawinput1[rawinput1["count"]>750]

In [37]:
topbrand_df2 = rawinput2[rawinput2["count"]>750]

In [39]:
pd.concat([topbrand_df, topbrand_df2])

,api_names,brand_sold_product,avg_price,count,region,average_cost
0,Artemether / Lumefantrine,LONART,47,38676,KILIFI,33
1,Artemether / Lumefantrine,AL,32,9960,EMBU,23
2,Artemether / Lumefantrine,ARTEFAN,52,5063,MOMBASA,37
3,Artemether / Lumefantrine,GAME,46,4363,MURANG'A,33
4,Artemether / Lumefantrine,AL S,33,3476,KAKAMEGA,24
5,Artemether / Lumefantrine,IPCA,9,3355,KISUMU,8
6,Artemether / Lumefantrine,COARTEM,28,2243,NAIROBI,21
7,Artemether / Lumefantrine,ACTM,78,2122,NYERI,54
8,Artemether / Lumefantrine,LUMET,2,1220,KAKAMEGA,4
9,Artemether / Lumefantrine,COMBIART,8,1202,MIGORI,8
10,Artemether / Lumefantrine,L ARTEM,55,999,KAJIADO,39
11,Artemether / Lumefantrine,GENERIC,31,962,EMBU,23
12,Artemether / Lumefantrine,LUMIART,22,829,KAJIADO,17
13,Artemether / Lumefantrine,MACLEODS,0,798,MURANG'A,2
0,Artemether / Lumefantrine,LONART,47,38676,KILIFI,33
1,Artemether / Lumefantrine,AL,32,9960,EMBU,23
2,Artemether / Lumefantrine,ARTEFAN,52,5063,MOMBASA,37
3,Artemether / Lumefantrine,GAME,46,4363,MURANG'A,33
4,Artemether / Lumefantrine,IPCA,9,3355,KISUMU,8
5,Artemether / Lumefantrine,COARTEM,28,2243,NAIROBI,21
6,Artemether / Lumefantrine,ACTM,78,2122,NYERI,54
7,Artemether / Lumefantrine,LUMET,2,1220,KAKAMEGA,4
8,Artemether / Lumefantrine,COMBIART,8,1202,MIGORI,8
9,Artemether / Lumefantrine,L ARTEM,55,999,KAJIADO,39
10,Artemether / Lumefantrine,GENERIC,31,962,EMBU,23
11,Artemether / Lumefantrine,LUMIART,22,829,KAJIADO,17
12,Artemether / Lumefantrine,MACLEODS,0,798,MURANG'A,2

In [66]:
rawinput1.merge(how='left', right=rawinput2, left_on=["brand_sold_product","region"], right_on=["brand_sold_product","region"])

,api_names_x,brand_sold_product,avg_price_x,count_x,region,average_cost_x,api_names_y,avg_price_y,count_y,average_cost_y
0,Artemether / Lumefantrine,LONART,47,38676,KILIFI,33,Artemether / Lumefantrine,47.0,38676.0,33.0
1,Artemether / Lumefantrine,AL,32,9960,EMBU,23,Artemether / Lumefantrine,32.0,9960.0,23.0
2,Artemether / Lumefantrine,ARTEFAN,52,5063,MOMBASA,37,Artemether / Lumefantrine,52.0,5063.0,37.0
3,Artemether / Lumefantrine,GAME,46,4363,MURANG'A,33,Artemether / Lumefantrine,46.0,4363.0,33.0
4,Artemether / Lumefantrine,AL S,33,3476,KAKAMEGA,24,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
136,Artemether / Lumefantrine,LONEX,50,1,KAJIADO,35,Artemether / Lumefantrine,50.0,1.0,35.0
137,Artemether / Lumefantrine,LUMATERM DT,0,1,KAKAMEGA,2,Artemether / Lumefantrine,0.0,1.0,2.0
138,Artemether / Lumefantrine,LUMFENART,150,1,KAKAMEGA,101,Artemether / Lumefantrine,150.0,1.0,101.0
139,Artemether / Lumefantrine,P ALAXIN,350,1,KAKAMEGA,233,Artemether / Lumefantrine,350.0,1.0,233.0
140,Artemether / Lumefantrine,TEMTRINE,150,1,KAKAMEGA,101,Artemether / Lumefantrine,150.0,1.0,101.0

In [67]:
newDF = rawinput1.merge(how='left', right=rawinput2, left_on=["brand_sold_product","region"], right_on=["brand_sold_product","region"])

In [92]:
newDF = rawinput1

In [72]:
from collections import OrderedDict, defaultdict

In [93]:
matchDF = newDF[["brand_sold_product","avg_price","count","region","average_cost"]]

In [97]:
matchDF["matchtarget"] = ''

0 brand_sold_product    LONART
avg_price                 47
count                  38676
region                KILIFI
average_cost              33
matchtarget
Name: 0, dtype: object
1 brand_sold_product      AL
avg_price               32
count                 9960
region                EMBU
average_cost            23
matchtarget
Name: 1, dtype: object
2 brand_sold_product    ARTEFAN
avg_price                  52
count                    5063
region                MOMBASA
average_cost               37
matchtarget
Name: 2, dtype: object
3 brand_sold_product        GAME
avg_price                   46
count                     4363
region                MURANG'A
average_cost                33
matchtarget
Name: 3, dtype: object
4 brand_sold_product        AL S
avg_price                   33
count                     3476
region                KAKAMEGA
average_cost                24
matchtarget
Name: 4, dtype: object
5 brand_sold_product      IPCA
avg_price                  9
count                   3355
region                KISUMU
average_cost               8
matchtarget
Name: 5, dtype: object
6 brand_sold_product    COARTEM
avg_price                  28
count                    2243
region                NAIROBI
average_cost               21
matchtarget
Name: 6, dtype: object
7 brand_sold_product     ACTM
avg_price                78
count                  2122
region                NYERI
average_cost             54
matchtarget
Name: 7, dtype: object
8 brand_sold_product       LUMET
avg_price                    2
count                     1220
region                KAKAMEGA
average_cost                 4
matchtarget
Name: 8, dtype: object
9 brand_sold_product    COMBIART
avg_price                    8
count                     1202
region                  MIGORI
average_cost                 8
matchtarget
Name: 9, dtype: object
10 brand_sold_product    L ARTEM
avg_price                  55
count                     999
region                KAJIADO
average_cost               39
matchtarget
Name: 10, dtype: object
11 brand_sold_product    GENERIC
avg_price                  31
count                     962
region                   EMBU
average_cost               23
matchtarget
Name: 11, dtype: object
12 brand_sold_product    LUMIART
avg_price                  22
count                     829
region                KAJIADO
average_cost               17
matchtarget
Name: 12, dtype: object
13 brand_sold_product    MACLEODS
avg_price                    0
count                      798
region                MURANG'A
average_cost                 2
matchtarget
Name: 13, dtype: object
14 brand_sold_product    LUMET S
avg_price                   0
count                     661
region                 KILIFI
average_cost                2
matchtarget
Name: 14, dtype: object
15 brand_sold_product    ARTELART
avg_price                   23
count                      577
region                    EMBU
average_cost                17
matchtarget
Name: 15, dtype: object
16 brand_sold_product    LUMITER DT
avg_price                      1
count                        525
region                    VIHIGA
average_cost                   3
matchtarget
Name: 16, dtype: object
17 brand_sold_product    LORNAT
avg_price                  8
count                    503
region                KILIFI
average_cost               8
matchtarget
Name: 17, dtype: object
18 brand_sold_product    ARTEMETHER LUMEFANTRINE
avg_price                                  51
count                                     431
region                                 KISUMU
average_cost                               36
matchtarget
Name: 18, dtype: object
19 brand_sold_product    LUMARTEM
avg_price                  160
count                      334
region                 KAJIADO
average_cost               108
matchtarget
Name: 19, dtype: object
20 brand_sold_product    AL LUMERAX DT
avg_price                         0
count                           322
region                       MIGORI
average_cost                      2
matchtarget
Name: 20, dtype: object
21 brand_sold_product    ANTIMALARIAL
avg_price                      100
count                          252
region                     MAKUENI
average_cost                    68
matchtarget
Name: 21, dtype: object
22 brand_sold_product    LUMERAXDT
avg_price                     0
count                       227
region                  NAIROBI
average_cost                  2
matchtarget
Name: 22, dtype: object
23 brand_sold_product    WINART FORTE
avg_price                      146
count                          217
region                      KILIFI
average_cost                    99
matchtarget
Name: 23, dtype: object
24 brand_sold_product    LUMERAX DT
avg_price                      0
count                        213
region                   NAIROBI
average_cost                   2
matchtarget
Name: 24, dtype: object
25 brand_sold_product    ARTEFENTRINE AL
avg_price                           4
count                             173
region                         MIGORI
average_cost                        5
matchtarget
Name: 25, dtype: object
26 brand_sold_product    ARTEMETHER LUMEGANTRINE
avg_price                                   5
count                                     167
region                                   EMBU
average_cost                                6
matchtarget
Name: 26, dtype: object
27 brand_sold_product    LUMITER
avg_price                   0
count                     164
region                NAIROBI
average_cost                2
matchtarget
Name: 27, dtype: object
28 brand_sold_product    LUMERAX
avg_price                  10
count                     159
region                 KILIFI
average_cost                9
matchtarget
Name: 28, dtype: object
29 brand_sold_product    LUMERAX DT S
avg_price                        4
count                          152
region                    HOMA BAY
average_cost                     5
matchtarget
Name: 29, dtype: object
30 brand_sold_product    LUFENART
avg_price                  147
count                      147
region                    EMBU
average_cost                99
matchtarget
Name: 30, dtype: object
31 brand_sold_product     LONARTS
avg_price                    5
count                      132
region                KAKAMEGA
average_cost                 6
matchtarget
Name: 31, dtype: object
32 brand_sold_product    LUMATERM
avg_price                   32
count                      131
region                 NAIROBI
average_cost                23
matchtarget
Name: 32, dtype: object
33 brand_sold_product       A L
avg_price                 36
count                    126
region                VIHIGA
average_cost              26
matchtarget
Name: 33, dtype: object
34 brand_sold_product    ARTEMETHER
avg_price                     98
count                        121
region                   KAJIADO
average_cost                  67
matchtarget
Name: 34, dtype: object
35 brand_sold_product    GENERIC AL
avg_price                     13
count                        119
region                    KISUMU
average_cost                  11
matchtarget
Name: 35, dtype: object
36 brand_sold_product    LUFANART
avg_price                  139
count                      119
region                HOMA BAY
average_cost                94
matchtarget
Name: 36, dtype: object
37 brand_sold_product    ALL BRANDS
avg_price                    136
count                        107
region                    KILIFI
average_cost                  92
matchtarget
Name: 37, dtype: object
38 brand_sold_product    AL S 4 8
avg_price                   50
count                      100
region                 KAJIADO
average_cost                35
matchtarget
Name: 38, dtype: object
39 brand_sold_product       DOSE
avg_price                   4
count                      98
region                NAIROBI
average_cost                5
matchtarget
Name: 39, dtype: object
40 brand_sold_product    SHAL ARTEM
avg_price                     84
count                         91
region                 NYANDARUA
average_cost                  58
matchtarget
Name: 40, dtype: object
41 brand_sold_product    CARTER
avg_price                 52
count                     82
region                KISUMU
average_cost              37
matchtarget
Name: 41, dtype: object
42 brand_sold_product    ALFANTRINE
avg_price                    252
count                         78
region                   NAIROBI
average_cost                 169
matchtarget
Name: 42, dtype: object
43 brand_sold_product    LUMET ADULTS
avg_price                        0
count                           78
region                     KAJIADO
average_cost                     2
matchtarget
Name: 43, dtype: object
44 brand_sold_product    AJANTA
avg_price                125
count                     77
region                NAKURU
average_cost              85
matchtarget
Name: 44, dtype: object
45 brand_sold_product    CO MALATHR
avg_price                      4
count                         74
region                   SAMBURU
average_cost                   5
matchtarget
Name: 45, dtype: object
46 brand_sold_product    AL 25KG
avg_price                  50
count                      73
region                MAKUENI
average_cost               35
matchtarget
Name: 46, dtype: object
47 brand_sold_product    ACT AL
avg_price                 50
count                     66
region                KILIFI
average_cost              35
matchtarget
Name: 47, dtype: object
48 brand_sold_product     MALAREM
avg_price                   77
count                       66
region                MURANG'A
average_cost                53
matchtarget
Name: 48, dtype: object
49 brand_sold_product    ERITHER L
avg_price                   120
count                        61
region                    BUSIA
average_cost                 82
matchtarget
Name: 49, dtype: object
50 brand_sold_product       AL 3
avg_price                  37
count                      58
region                MOMBASA
average_cost               27
matchtarget
Name: 50, dtype: object
51 brand_sold_product       CIPLA
avg_price                   19
count                       55
region                KAKAMEGA
average_cost                15
matchtarget
Name: 51, dtype: object
52 brand_sold_product          CO_MAX
avg_price                        4
count                           55
region                TAITA TAVETA
average_cost                     5
matchtarget
Name: 52, dtype: object
53 brand_sold_product    ARTEMETHER AND LUMEFANTIN
avg_price                                   147
count                                        53
region                                  NAIROBI
average_cost                                 99
matchtarget
Name: 53, dtype: object
54 brand_sold_product    TEMTRIN
avg_price                  12
count                      51
region                 KISUMU
average_cost               10
matchtarget
Name: 54, dtype: object
55 brand_sold_product    ARTEMETER LUMEFANTRINE
avg_price                                 12
count                                     50
region                              KAKAMEGA
average_cost                              10
matchtarget
Name: 55, dtype: object
56 brand_sold_product    AL SHALARTEM S
avg_price                         29
count                             46
region                      HOMA BAY
average_cost                      21
matchtarget
Name: 56, dtype: object
57 brand_sold_product    CO ARTESIANE
avg_price                      458
count                           46
region                      MIGORI
average_cost                   305
matchtarget
Name: 57, dtype: object
58 brand_sold_product    LUMITER DT S
avg_price                        0
count                           46
region                   NYANDARUA
average_cost                     2
matchtarget
Name: 58, dtype: object
59 brand_sold_product    LUFANATE
avg_price                   50
count                       42
region                  MIGORI
average_cost                35
matchtarget
Name: 59, dtype: object
60 brand_sold_product     A L S
avg_price                 72
count                     41
region                KISUMU
average_cost              50
matchtarget
Name: 60, dtype: object
61 brand_sold_product    LUM_ARTEM
avg_price                   153
count                        41
region                  NAIROBI
average_cost                103
matchtarget
Name: 61, dtype: object
62 brand_sold_product    GENERIC S
avg_price                    50
count                        39
region                   MIGORI
average_cost                 35
matchtarget
Name: 62, dtype: object
63 brand_sold_product    LUMATEM
avg_price                 165
count                      39
region                KAJIADO
average_cost              111
matchtarget
Name: 63, dtype: object
64 brand_sold_product    AL 6
avg_price               47
count                   35
region                LAMU
average_cost            33
matchtarget
Name: 64, dtype: object
65 brand_sold_product    COMAX DPS
avg_price                   150
count                        35
region                 HOMA BAY
average_cost                101
matchtarget
Name: 65, dtype: object
66 brand_sold_product    LUMARTEM FORTE
avg_price                        120
count                             34
region                      KAKAMEGA
average_cost                      82
matchtarget
Name: 66, dtype: object
67 brand_sold_product    LUMITERDT
avg_price                     0
count                        34
region                   KILIFI
average_cost                  2
matchtarget
Name: 67, dtype: object
68 brand_sold_product    ERITHER AL
avg_price                      4
count                         32
region                    KILIFI
average_cost                   5
matchtarget
Name: 68, dtype: object
69 brand_sold_product    AL SYUP
avg_price                 150
count                      31
region                 VIHIGA
average_cost              101
matchtarget
Name: 69, dtype: object
70 brand_sold_product        ACT
avg_price                  67
count                      30
region                NAIROBI
average_cost               47
matchtarget
Name: 70, dtype: object
71 brand_sold_product    ARTEMETHER LUMERFETRIN
avg_price                                 98
count                                     27
region                               NAIROBI
average_cost                              67
matchtarget
Name: 71, dtype: object
72 brand_sold_product    ARTEMETHER LUMEFANTRINE SY
avg_price                                    120
count                                         25
region                                  HOMA BAY
average_cost                                  82
matchtarget
Name: 72, dtype: object
73 brand_sold_product    AJANTA VOUTURE PROGRAM
avg_price                                 73
count                                     23
region                                MIGORI
average_cost                              50
matchtarget
Name: 73, dtype: object
74 brand_sold_product    CO MALATHER
avg_price                     101
count                          22
region                     MIGORI
average_cost                   69
matchtarget
Name: 74, dtype: object
75 brand_sold_product    LEMERAX
avg_price                   0
count                      19
region                NAIROBI
average_cost                2
matchtarget
Name: 75, dtype: object
76 brand_sold_product     WINART
avg_price                 120
count                      19
region                NAIROBI
average_cost               82
matchtarget
Name: 76, dtype: object
77 brand_sold_product    AJANTA AL S
avg_price                      84
count                          18
region                   MARSABIT
average_cost                   58
matchtarget
Name: 77, dtype: object
78 brand_sold_product    SHALARTEM
avg_price                    96
count                        18
region                   KILIFI
average_cost                 66
matchtarget
Name: 78, dtype: object
79 brand_sold_product    LUMEFAC
avg_price                 150
count                      17
region                KAJIADO
average_cost              101
matchtarget
Name: 79, dtype: object
80 brand_sold_product    LUMETHER DRY
avg_price                      150
count                           17
region                     NAIROBI
average_cost                   101
matchtarget
Name: 80, dtype: object
81 brand_sold_product    NOVARTIS
avg_price                  800
count                       16
region                    EMBU
average_cost               530
matchtarget
Name: 81, dtype: object
82 brand_sold_product    ARTELAT S
avg_price                     4
count                        15
region                   KISUMU
average_cost                  5
matchtarget
Name: 82, dtype: object
83 brand_sold_product    LONRT DUSPERSIBLE
avg_price                            30
count                                14
region                          NAIROBI
average_cost                         22
matchtarget
Name: 83, dtype: object
84 brand_sold_product    LUFENART AL
avg_price                     157
count                          14
region                   KAKAMEGA
average_cost                  106
matchtarget
Name: 84, dtype: object
85 brand_sold_product    AL PRO FANTRINE FORTE
avg_price                                49
count                                    13
region                               MIGORI
average_cost                             35
matchtarget
Name: 85, dtype: object
86 brand_sold_product
avg_price                114
count                     11
region                KISUMU
average_cost              78
matchtarget
Name: 86, dtype: object
87 brand_sold_product    ORANGE FLAVOUR
avg_price                         69
count                             11
region                      MURANG'A
average_cost                      48
matchtarget
Name: 87, dtype: object
88 brand_sold_product    SHAL ARTEM S
avg_price                       50
count                           11
region                    HOMA BAY
average_cost                    35
matchtarget
Name: 88, dtype: object
89 brand_sold_product    CO MALATHER AL
avg_price                        100
count                             10
region                        MIGORI
average_cost                      68
matchtarget
Name: 89, dtype: object
90 brand_sold_product     BLISS
avg_price                331
count                      9
region                KILIFI
average_cost             221
matchtarget
Name: 90, dtype: object
91 brand_sold_product    SHAL ARTEM FORTE
avg_price                          281
count                                9
region                        MURANG'A
average_cost                       188
matchtarget
Name: 91, dtype: object
92 brand_sold_product    SHALARTEM TEMRIN
avg_price                           93
count                                9
region                          MIGORI
average_cost                        64
matchtarget
Name: 92, dtype: object
93 brand_sold_product    ARTEMETHER LUMEFANTRIN
avg_price                                350
count                                      8
region                                KILIFI
average_cost                             233
matchtarget
Name: 93, dtype: object
94 brand_sold_product    CO CORITHER
avg_price                     189
count                           8
region                       EMBU
average_cost                  127
matchtarget
Name: 94, dtype: object
95 brand_sold_product    COMALATHER
avg_price                     16
count                          8
region                   KAJIADO
average_cost                  13
matchtarget
Name: 95, dtype: object
96 brand_sold_product    GENERIC IPICA LABORATORIES
avg_price                                      2
count                                          8
region                                  HOMA BAY
average_cost                                   4
matchtarget
Name: 96, dtype: object

get list of brands

In [106]:
names = nameEA.iloc[:,0]

In [107]:
splitnames = names.str.split('\,', expand=True)

In [108]:
s = splitnames.iloc[:,0]

In [109]:
s2 = s.str.split('. ', expand=True)

In [110]:
BrandList = s2.iloc[:,1]

In [155]:
matchDict = {}; nomatchDict = {}

In [158]:
for index, row in matchDF.iterrows():
        tempV = process.extractOne(row[0],BrandList.values)
        if tempV[1]>90:
            matchDict[row[0]] = tempV[0]

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

In [159]:
matchDict

{'LONART': 'LONART-D',
 'ARTEFAN': 'ARTEFAN',
 'COARTEM': 'COARTE',
 'COMBIART': 'COMBIAR',
 'LUMARTEM': 'LUMARTE',
 'LUMITER': 'LUMITE',
 'LUMERAX': 'LUMERA'}

In [160]:
for index, row in matchDF.iterrows():
        tempV = process.extractOne(row[0],BrandList.values)
        if tempV[1]>50:
            nomatchDict[row[0]] = tempV[0]

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

In [162]:
nomatchDict??

I hit a wall and stopped trying to do all of this in Python here, I created a dictionary and used it in excel to match the cleaned up columns.

In [163]:
cleanedinput1 = pd.DataFrame(input1.get_all_records())

In [168]:
unique = cleanedinput1['fuzzyMap'].unique()

In [178]:
averages = pd.DataFrame(data = unique)

                     0
0               LONART
1                   AL
2              ARTEFAN
3                 GAME
4                 IPCA
..                 ...
112  GENERIC APICA LTD
113              LONEX
114        LUMATERM DT
115          LUMFENART
116             ALAXIN

[117 rows x 1 columns]

,0,api_names,brand_sold_product,avg_price,count,region,average_cost,fuzzyMap
0,LONART,Artemether / Lumefantrine,LONART,47,38676,KILIFI,33,LONART
1,AL,Artemether / Lumefantrine,AL,32,9960,EMBU,23,AL
2,AL,Artemether / Lumefantrine,AL S,33,3476,KAKAMEGA,24,AL
3,AL,Artemether / Lumefantrine,AL S 4 8,50,100,KAJIADO,35,AL
4,AL,Artemether / Lumefantrine,AL 25KG,50,73,MAKUENI,35,AL
...,...,...,...,...,...,...,...,...
136,GENERIC APICA LTD,Artemether / Lumefantrine,GENERIC APICA LTD,0,1,KAKAMEGA,2,GENERIC APICA LTD
137,LONEX,Artemether / Lumefantrine,LONEX,50,1,KAJIADO,35,LONEX
138,LUMATERM DT,Artemether / Lumefantrine,LUMATERM DT,0,1,KAKAMEGA,2,LUMATERM DT
139,LUMFENART,Artemether / Lumefantrine,LUMFENART,150,1,KAKAMEGA,101,LUMFENART
140,ALAXIN,Artemether / Lumefantrine,P ALAXIN,350,1,KAKAMEGA,233,ALAXIN